@model IEnumerable<todo.Models.Item>

@{
    ViewBag.Title = "HALDIRAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="background-color: #f5f2f1;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;">

    @Html.ActionLink("Order Details", "Index")       
</p>
